@model CTN4_Serv.ViewModel.KhuyenMaiPhanLoaiView


@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-9">
        <br></br>
        <h1>Create</h1>

        <h4>Khuyen Mai Phan Loai</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="idKhuyenMai">Khuyến Mại</label>
                        <select asp-for="idKhuyenMai" class="form-control">
                            <option value="">-- Select KhuyenMai --</option>
                            @foreach (var a in Model.khuyenMaiItems)
                            {
                                <option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdPhanLoai">Phân Loại</label>
                        <select asp-for="IdPhanLoai" class="form-control">
                            <option value="">-- Select PhanLoai --</option>
                            @foreach (var a in Model.phanLoaiItems)
                            {
                                <option value="@a.Value">@a.Text</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>