@model CTN4_Data.Models.DB_CTN4.NSX

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<br />
<br />
<br />
<br />
<h1>Thêm mới</h1>

<h4>Nhà sản xuất</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" onsubmit="return confirmSubmit();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="TenNSX" class="control-label">Tên nhà sản xuất</label>
                <input asp-for="TenNSX" class="form-control" />
                <span asp-validation-for="TenNSX" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label">Ghi chú</label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color: black;">Quay về</a>
</div>
<script>
    function confirmSubmit() {
        // Hiển thị hộp thoại xác nhận
        var result = confirm("Bạn có chắc muốn thêm mới nhà sản xuất này không?");
        return result;
    }
</script>