

@model CTN4_Serv.ViewModel.DoiMatKhauKh

@{
    ViewData["Title"] = "Doimk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đổi Mật Khẩu</h1>
                <nav class="d-flex align-items-center">
                    <a href="">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href=""> Đổi Mật Khẩu</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5 custom-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form  method="post">

                <!-- Các trường form -->

                <div class="form-group">
                    <label for="matKhauCu">Mật khẩu cũ:</label>
                    <input type="password" id="matKhauCu" name="matKhauCu" class="form-control" required>
                    <span asp-validation-for="matKhauCu" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label for="matKhauMoi">Mật khẩu mới:</label>
                    <input type="password" id="matKhauMoi" name="matKhauMoi" class="form-control" required>
                    <span asp-validation-for="matKhauMoi" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="xacNhanMatKhauMoi">Xác nhận mật khẩu mới:</label>
                    <input type="password" id="xacNhanMatKhauMoi" name="xacNhanMatKhauMoi" class="form-control" required>
                    <span asp-validation-for="xacNhanMatKhauMoi" class="text-danger"></span>
                </div>

                <button asp-action="DoiMatKhaus" type="submit" class="btn btn-primary">Đổi mật khẩu</button>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>

