@model CTN4_Serv.ViewModel.MailRequest

@{
    ViewData["Title"] = "QuenMk";
}

<h1>QuenMk</h1>

<h4>KhachHang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="QuenMks">
          
          
            <div class="form-group">
                <label asp-for="Tendangnhap" class="control-label"></label>
                <input asp-for="Tendangnhap" class="form-control" />
                <span asp-validation-for="Tendangnhap" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="ToEmail" class="control-label"></label>
                <input asp-for="ToEmail" class="form-control" />
                <span asp-validation-for="ToEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

