
@{
    ViewData["Title"] = "SuccessPass";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icon Size Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .custom-icon {
            font-size: 200px;
            color: green;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="container" style="margin-top: 100px;">
        <i class="fas fa-check-circle custom-icon"></i>
        <h1 style="margin-top:50px">Lấy mật khẩu thành công vui lòng vào gmail xem lại mật khẩu</h1>
    </div>

</body>
</html>

