@model CTN4_Data.Models.DB_CTN4.KhachHang

@{
    ViewData["Title"] = "UpdateKh";
}

<h1 style="margin-top: 200px;">Chỉnh sửa thông tin khách hàng</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="UpdateKhang" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Ho" class="control-label">Họ:</label>
                    <input asp-for="Ho" class="form-control" />
                    <span asp-validation-for="Ho" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ten" class="control-label">Tên:</label>
                    <input asp-for="Ten" class="form-control" />
                    <span asp-validation-for="Ten" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="GioiTinh" class="control-label">Giới tính:</label>
                    <select asp-for="GioiTinh" class="form-control">
                        <option value="Nam">Nam</option>
                        <option value="Nu">Nữ</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SDT" class="control-label">Số điện thoại:</label>
                    <input asp-for="SDT" class="form-control" />
                    <span asp-validation-for="SDT" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label">Địa chỉ:</label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>

                

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Doimk" class="btn btn-secondary">Đổi Mk</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>

