@model CTN4_Serv.ViewModel.LoginAdmin
@{
    Layout = "~/Areas/Admin/Views/Shared/aa.cshtml";
}

<body>

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Đăng nhập</h3>
                            <form method="post">
                                <div class="form-group">
                                    <label>Tên Đăng Nhập</label>
                                    <input type="text" class="form-control p_input" name="User" maxlength="30" pattern="^\S.*$" title="Không được chứa khoảng trắng">
                                    <span asp-validation-for="User" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu</label>
                                    <input type="password" class="form-control p_input" name="Password" maxlength="30" pattern="^\S.*$" title="Không được chứa khoảng trắng">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                                    {
                                        <span class="text-danger">@ViewBag.Message</span>
                                    }
                                </div>

                                <div class="text-center">
                                    <button asp-action="Dangnhapa" type="submit" class="btn btn-primary btn-block enter-btn">Đăng nhập</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

</body>
