@model CTN4_Serv.ViewModel.DoiMatKhauKh

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6" style="margin-top: 200px;">
            <form asp-action='DoiMatKhau' method='post'>

                <div class="form-group">
                    <label for="matKhauCu">Mật khẩu cũ:</label>
                    <input type='password' id='matKhauCu' name='matKhauCu' class='form-control' required maxlength='30'>
                    <span asp-validation-for="matKhauCu" class="text-danger"></span>
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <span class="text-danger">@ViewBag.Message</span>
                    }
                </div>

                <div class="form-group">
                    <label for="MatKhauMoi">Mật khẩu mới:</label>
                    <input type='password' id='MatKhauMoi' name='MatKhauMoi' class='form-control' required maxlength='30'>
                    <span asp-validation-for="MatKhauMoi" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="xacNhanMatKhauMoi">Xác nhận mật khẩu mới:</label>
                    <input type='password' id='xacNhanMatKhauMoi' name='xacNhanMatKhauMoi' class='form-control' required maxlength='30'>
                    <span asp-validation-for="xacNhanMatKhauMoi" class="text-danger"></span>
                </div>

                <button type='submit' class='btn btn-primary'>Đổi mật khẩu</button>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

