@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<div class="row">
    <div class="col-md-5" style="margin-top:200px">
        <h3>Tổng doanh thu trong năm</h3>
        <canvas id="myCharts"></canvas>
    </div>
    <div class="col-md-5" style="margin-top:200px">
        <h3>Tổng đơn hàng trong năm</h3>
        <canvas id="myChartss"></canvas>
    </div>

    <div class="col-md-5" style="margin-top:200px">
        <h3>Tổng hóa đơn lịch sử</h3>
        <canvas id="myChart"></canvas>
    </div>
    <div id="bestSellingProductsContainer"></div> 

</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/Home/thongke",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Xử lý dữ liệu trả về ở đây
                console.log(data);
                const ctx = document.getElementById('myChart');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {

                        labels: ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11', 'T12'],
                        datasets: [{
                            label: 'Hóa Đơn',
                            data: data, // Truyền mảng được gọi từ action vào đây
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.error('Đã xảy ra lỗi:', error);
            }
        });
    });
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/Home/thongkeHd",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Xử lý dữ liệu trả về ở đây
                console.log(data);
                const ctx = document.getElementById('myCharts');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11', 'T12'],
                        datasets: [{
                            label: 'Tổng tiền',
                            data: data, // Truyền mảng được gọi từ action vào đây
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.error('Đã xảy ra lỗi:', error);
            }
        });
    });
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/Home/thongke",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Xử lý dữ liệu trả về ở đây
                console.log(data);
                const ctx = document.getElementById('myChartss');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11', 'T12'],
                        datasets: [{
                            label: 'Hóa Đơn',

                            data: data, // Truyền mảng được gọi từ action vào đây
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.error('Đã xảy ra lỗi:', error);
            }
        });
        $.ajax({
            url: "/Admin/Home/GetBestSellingProducts",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Xử lý dữ liệu trả về ở đây
              
                var container = $('#bestSellingProductsContainer');

                // Xóa bất kỳ nội dung cũ nào trong container
                container.empty();

                // Duyệt qua danh sách sản phẩm và hiển thị thông tin
                for (var i = 0; i < data.length; i++) {
                    var product = data[i];
                    console.log("data", product);
                    // Tạo một đối tượng HTML để hiển thị thông tin sản phẩm
                    var productHtml = '<div>';
                    productHtml += '<p>Product ID: ' + product.productId + '</p>';
                    productHtml += '<p>Product Name: ' + product.productName + '</p>';
                    productHtml += '<p>Total Quantity Sold: ' + product.totalQuantitySold + '</p>';
                    productHtml += '</div>';

                    // Thêm đối tượng HTML vào container
                    container.append(productHtml);
                }
            },
            error: function (error) {
                // Xử lý lỗi ở đây
                console.error('Error:', error);
            }
        });

    });
  
</script>


