
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Normal buttons</h4>
                <br></br>
                <p class="card-description"><code></code> Quản Lí Các Bảng</p>
                <div class="template-demo">
                    <button type="button" class="btn btn-primary btn-fw"><a style="color:white" asp-controller="ChucVu" asp-action="Index">Chức vụ</a> </button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="GiamGIa" asp-action="Index">Giảm giá</a></button>
                    <button type="button" class="btn btn-success btn-fw"><a style="color:white" asp-controller="KhachHang" asp-action="Index">Khách hàng</a></button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="KhuyenMai" asp-action="Index">Khuyen mại</a></button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="NhanVien" asp-action="Index">Nhân viên</a></button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="PhanLoai" asp-action="Index">Phân loại</a></button>
                    <button type="button" class="btn btn-primary btn-fw"><a style="color:white" asp-controller="PhuongThucThanhToan" asp-action="Index">Phương Thức Thanh Toán</a> </button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="SanPham" asp-action="Index">Sản phẩm</a></button>
                    <button type="button" class="btn btn-success btn-fw"><a style="color:white" asp-controller="Size" asp-action="Index">Size</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

