
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Normal buttons</h4>
                <br></br>
                <p class="card-description"><code></code> Quản Lí Các Bảng</p>
                <div class="template-demo">
                    <button type="button" class="btn btn-primary btn-fw"><a style="color:white" asp-controller="SanPham" asp-action="Index">Sản Phẩm</a> </button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="KhuyenMai" asp-action="Index">Khuyến Mại</a></button>
                    <button type="button" class="btn btn-success btn-fw"><a style="color:white" asp-controller="PhanLoai" asp-action="Index">Phân Loại</a></button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="GiamGia" asp-action="Index">Giảm Giá</a></button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="KhachHang" asp-action="Index">Khách Hàng</a></button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="PhuongThucThanhToan" asp-action="Index">Phương Thức Thanh Toán</a></button>
                    <button type="button" class="btn btn-danger btn-fw">Danger</button>
                    <button type="button" class="btn btn-warning btn-fw">Warning</button>
                    <button type="button" class="btn btn-info btn-fw">Info</button>
                    <button type="button" class="btn btn-primary btn-fw"><a style="color:black" asp-area="" asp-controller="Home" asp-action="Index">Sản Phẩm</a></button>
                    <button type="button" class="btn btn-secondary btn-fw"><a style="color:black" asp-controller="KhuyenMai" asp-action="Index">Khuyến Mại</a></button>
                  
                    <button type="button" class="btn btn-info btn-fw">Info</button>
                </div>
            </div>
        </div>
    </div>
</div>

