@model CTN4_Data.Models.DB_CTN4.PhuongThucThanhToan

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>
        <br></br>
        <h1>Thêm mới</h1>

        <h4>Phương thức thanh toán</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TenPhuongThuc" class="control-label">Tên phương thức</label>
                        <input asp-for="TenPhuongThuc" class="form-control" />
                        <span asp-validation-for="TenPhuongThuc" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="TrangThai" /> Trạng thái
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Is_detele" /> Tình trạng
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Thêm mới" class="btn btn-primary" />
                    </div>
                    <div>
                        <h4>_________________________________________________</h4>
                        <a asp-action="Index" style="color: black;">Quay về</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



