@model CTN4_Data.Models.DB_CTN4.NhanVien

@{
    ViewData["Title"] = "Edit";
}


<div>
    <a asp-action="Index">Back to List</a>
</div>
<div class="row">
    <div class="col-md-9">
        <br></br>
        <br></br>
        <h1>Edit</h1>

        <h4>NhanVien</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ho" class="control-label"></label>
                        <input asp-for="Ho" class="form-control" />
                        <span asp-validation-for="Ho" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ten" class="control-label"></label>
                        <input asp-for="Ten" class="form-control" />
                        <span asp-validation-for="Ten" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TenDangNhap" class="control-label"></label>
                        <input asp-for="TenDangNhap" class="form-control" />
                        <span asp-validation-for="TenDangNhap" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MatKhau" class="control-label"></label>
                        <input asp-for="MatKhau" class="form-control" />
                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GioiTinh" class="control-label"></label>
                        <input asp-for="GioiTinh" class="form-control" />
                        <span asp-validation-for="GioiTinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SDT" class="control-label"></label>
                        <input asp-for="SDT" class="form-control" />
                        <span asp-validation-for="SDT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaChi" class="control-label"></label>
                        <input asp-for="DiaChi" class="form-control" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Trangthai" /> @Html.DisplayNameFor(model => model.Trangthai)
                        </label>
                    </div>
                    <div class="form-group">
                        @* <label>Chọn ảnh từ Máy tính:</label>
                        <input type="file" name="imageFile"/>*@
                        <label asp-for="AnhDaiDien" class="control-label">AnhDaiDiem</label>

                        <input type="file" name="imageFile" />
                    </div>
                    <div class="form-group">
                        <label asp-for="IdChucVu" class="control-label"></label>
                        <input asp-for="IdChucVu" class="form-control" />
                        <span asp-validation-for="IdChucVu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div>
                        <h4>_________________________________________________</h4>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>