@model CTN4_Data.Models.DB_CTN4.SanPhamChiTiet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>SanPhamChiTiet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label"></label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="GiaNhap" class="control-label"></label>
                <input asp-for="GiaNhap" class="form-control" />
                <span asp-validation-for="GiaNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaNiemYet" class="control-label"></label>
                <input asp-for="GiaNiemYet" class="form-control" />
                <span asp-validation-for="GiaNiemYet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Is_detele" /> @Html.DisplayNameFor(model => model.Is_detele)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IdChatLieu" class="control-label"></label>
                <input asp-for="IdChatLieu" class="form-control" />
                <span asp-validation-for="IdChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMau" class="control-label"></label>
                <input asp-for="IdMau" class="form-control" />
                <span asp-validation-for="IdMau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdNSX" class="control-label"></label>
                <input asp-for="IdNSX" class="form-control" />
                <span asp-validation-for="IdNSX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSize" class="control-label"></label>
                <input asp-for="IdSize" class="form-control" />
                <span asp-validation-for="IdSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSp" class="control-label"></label>
                <input asp-for="IdSp" class="form-control" />
                <span asp-validation-for="IdSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

