@model CTN4_Data.Models.DB_CTN4.Size

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Details</h1>

<div>
  
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Normal buttons</h4>
                <br></br>
                <h4>Size</h4>
                <hr />
                <dl class="row">
                   
                    <dt class = "col-sm-2">
                        Tên size
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.TenSize)
                    </dd><dt class = "col-sm-2">
                        Cỡ size
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CoSize)
                    </dd>
                    <dt class = "col-sm-2">
                        Trạng thái
                    </dt>
                    <dd class = "col-sm-10">
                        @if (Model.TrangThai == true)
                        {
                            <a>Hiển thị trên trang web</a>
                        }
                        else
                        {
                            <a>Tạm ẩn</a>
                        }
                    </dd>
                    <dt class = "col-sm-2">
                       Tình trạng
                    </dt>
                    <dd class = "col-sm-10">
                        @if (Model.Is_detele == true)
                        {
                            <a>Hiển thị</a>
                        }
                        else
                        {
                            <a>Tạm ẩn</a>
                        }
                    </dd>
                   
                </dl>
                <div>
                    <a>@Html.ActionLink("Chỉnh sửa", "Edit",new { id=Model.Id },new { style = "text-decoration: none; color: black;" }) |</a>

                    <a asp-action="Index" style="color: black;">Quay về</a>
                </div>
            </div>
        </div>
    </div>
</div>