@model CTN4_Serv.ViewModel.GiamGiaViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="tracking_box_area section_gap">
    <div class="container">
        <h1>Danh sách giảm giá</h1>

        <section class="lattest-product-area pb-40 category-list">
            <div class="row"
</section>


