@{
    ViewData["Title"] = "ListDiaChi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="tracking_box_area section_gap">

    <div class="container">
        @*<div class="tracking_box_inner">
        <p>
        Hay nhập mã đơn hàng của bạn để tìm kiếm nhanh
        </p>
        <form class="row tracking_form" action="#" method="post" novalidate="novalidate">
        <div class="col-md-12 form-group">
        <input type="text" class="form-control" id="order" name="TimKiemHoaDon" placeholder="id Hóa đơn" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mã Hóa đơn'">
        </div>
        <div class="col-md-12 form-group">
        <button type="submit" value="submit" class="primary-btn">Tìm</button>
        </div>
        </form>
        </div>*@
        <h1>Danh sách Địa chỉ nhận hàng của bạn</h1>
        <table class="table" id="listDiaChiContainer">
            <thead>
                <tr>

                    <th>Địa chỉ nhận hàng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.ListDiaChi)
                {
                    <tr>
                        <td>@item.Text</td>
                        <td>
                            <button class="custom-button" onclick="removeAddress('@item.Value')">Bỏ</button>
                        </td>
                        <td>
                            <button class="custom-button1" onclick="('@item.Value')">Set Mặc định</button>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</section>
<style>
    .custom-button {
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        color: var(--bs-btn-color, #fff);
        background-color: var(--bs-btn-bg, #ff6347);
        border-color: var(--bs-btn-border-color, #ff6347);
    }

        .custom-button:hover {
            color: var(--bs-btn-hover-color, #fff);
            background-color: var(--bs-btn-hover-bg, #dc4735);
            border-color: var(--bs-btn-hover-border-color, #c84131);
        }

        .custom-button:focus {
            box-shadow: 0 0 0 0.25rem var(--bs-btn-focus-shadow-rgb, #ff6347);
        }

        .custom-button:active {
            color: var(--bs-btn-active-color, #fff);
            background-color: var(--bs-btn-active-bg, #c84131);
            border-color: var(--bs-btn-active-border-color, #b5362d);
            box-shadow: var(--bs-btn-active-shadow, inset 0 3px 5px rgba(0, 0, 0, 0.125));
        }

        .custom-button:disabled {
            color: var(--bs-btn-disabled-color, #fff);
            background-color: var(--bs-btn-disabled-bg, #ff6347);
            border-color: var(--bs-btn-disabled-border-color, #ff6347);
        }

    .custom-button1 {
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        color: var(--bs-btn-color, #fff);
        background-color: var(--bs-btn-bg, #49BEFF);
        border-color: var(--bs-btn-border-color, #49BEFF);
    }

        .custom-button1:hover {
            color: var(--bs-btn-hover-color, #fff);
            background-color: var(--bs-btn-hover-bg, #4f73d9);
            border-color: var(--bs-btn-hover-border-color, #4a6ccc);
        }

        .custom-button1:focus {
            box-shadow: 0 0 0 0.25rem rgb(var(--bs-btn-focus-shadow-rgb, 117, 153, 255));
        }

        .custom-button1:active {
            color: var(--bs-btn-active-color, #fff);
            background-color: var(--bs-btn-active-bg, #4a6ccc);
            border-color: var(--bs-btn-active-border-color, #4665bf);
            box-shadow: var(--bs-btn-active-shadow, inset 0 3px 5px rgba(0, 0, 0, 0.125));
        }

        .custom-button1:disabled {
            color: var(--bs-btn-disabled-color, #fff);
            background-color: var(--bs-btn-disabled-bg, #49BEFF);
            border-color: var(--bs-btn-disabled-border-color, #49BEFF);
        }

</style>