@model CTN4_Data.Models.DB_CTN4.GiamGia

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>

    .form-container {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin: 20px;
        position: relative; /* Đặt vị trí của form là relative để có thể đặt vị trí tuyệt đối cho nội dung trong form */
    }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .form-group .text-danger {
            display: block;
            margin-top: 5px;
        }

    .corner-text {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        font-size: 14px;
    }

    .small-text {
        font-size: 12px; /* hoặc bạn có thể sử dụng giá trị cụ thể cho font-size */
    }

    .container-center {
        position: absolute;
        top: 140px; /* Điều chỉnh giá trị này để đặt cách container từ phía trên theo đơn vị px */
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 1000px;
        padding: 50px;
        background-color: #f8f9fa;
        border-radius: 10px;
    }

    .container-center1 {
        position: absolute;
        top: 50px; /* Điều chỉnh giá trị này để đặt cách container từ phía trên theo đơn vị px */
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 1000px;
        padding: 50px;
        background-color: #f8f9fa;
        border-radius: 10px;
    }
</style>



<div class="row">
    <div class="col-md-9">
        <div class="container-center1 ">
            <h1 class="text-center"> Tạo voucher</h1>
        </div>

        <div class="row">

            <div class="col-md-6">
                <form asp-action="Create">
                    @*<form id="create-form" asp-controller="GiamGia" asp-action="Create" method="post" onsubmit="return submitForm()">*@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="container-center ">

                        @*<form id="create-form" asp-controller="GiamGia" asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@



                        @* <div class="corner-text" onclick="generateRandomCode()">Tạo mã tự động</div>*@

                        <div class="form-group">
                            <label asp-for="MaGiam" class="control-label">Mã giảm giá</label>
                            <input asp-for="MaGiam" id="MaGiamGia" class="form-control" maxlength="30" />
                            <label class="small-text">(Không được nhập quá 30 ký tự)</label>
                            <span asp-validation-for="MaGiam" class="text-danger"></span>
                        </div>

                        <div class="form-container">
                            <div class="form-group">
                                <label asp-for="NgayBatDau" class="control-label"> Thời gian bắt đầu</label>
                                <input asp-for="NgayBatDau" class="form-control" />
                                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NgayKetThuc" class="control-label"> Thời gian kết thúc</label>
                                <input asp-for="NgayKetThuc" class="form-control" />
                                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">

                            <label asp-for="LoaiGiamGia" class="control-label">Hình thức giảm giá </label>
                            <select asp-for="LoaiGiamGia" class="form-control" id="LoaiGiamGiaSelect">
                                <option value="">-- Chọn hình thức giảm giá --</option>
                                <option value="false">Giảm theo số tiền</option>
                                <option value="true">Giảm theo phần trăm</option>
                            </select>



                            <span asp-validation-foázr="LoaiGiamGia" class="text-danger"></span>
                            <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                            <script>
                                $(document).ready(function () {
                                    var selectedValue = $('#LoaiGiamGiaSelect').val();

                                    // if (!selectedValue) {
                                    //     alert('Bạn cần chọn hình thức giảm giá.');
                                    //     // Hoặc có thể hiển thị thông báo lỗi theo cách bạn muốn
                                    // }

                                    $('#LoaiGiamGiaSelect').change(function () {
                                        selectedValue = $(this).val();

                                        if (!selectedValue) {
                                            alert('Bạn cần chọn hình thức giảm giá.');
                                            // Hoặc có thể hiển thị thông báo lỗi theo cách bạn muốn
                                        }
                                    });

                                    // Check validation before submitting the form
                                    $('form').submit(function (e) {
                                        if (!selectedValue) {
                                            alert('Bạn cần chọn hình thức giảm giá.');
                                            e.preventDefault(); // Prevent the form from being submitted
                                        }
                                    });
                                });
                            </script>
                        </div>

                        <div class="form-group" id="SoTienGiamGroup" style="display: none;">
                            <label asp-for="SoTienGiam" class="control-label">Số tiền giảm</label>
                            <input asp-for="SoTienGiam" class="form-control" maxlength="9" />
                            <label class="small-text">(Không được nhập quá 9 ký tự)</label>
                            <span asp-validation-for="SoTienGiam" class="text-danger"></span>
                        </div>


                        <div class="form-group" id="PhanTramGiamGroup" style="display: none;">
                            <label asp-for="PhanTramGiam" class="control-label">Phần trăm giảm</label>
                            <input type="text" asp-for="PhanTramGiam" class="form-control" maxlength="9" />
                            <label class="small-text">(Không được nhập quá 9 ký tự)</label>
                            <span asp-validation-for="PhanTramGiam" class="text-danger"></span>
                            <div class="form-group">
                                <label">
                                    Số tiền giảm tối đa</label>
                                    <input asp-for="SoTienGiamToiDa" class="form-control" maxlength="9" />
                                    <label class="small-text">(Không được nhập quá 9 ký tự)</label>
                                    <span asp-validation-for="SoTienGiamToiDa" class="text-danger"></span>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                // Function để ẩn hoặc hiển thị trường nhập liệu tương ứng với giá trị ban đầu của dropdown
                                function toggleFieldsBasedOnDropdownValue() {
                                    var selectedValue = $('#LoaiGiamGiaSelect').val();

                                    // Ẩn tất cả các trường nhập liệu
                                    $('#SoTienGiamGroup, #PhanTramGiamGroup').hide();

                                    // Hiển thị trường nhập liệu tương ứng
                                    if (selectedValue === 'false') {
                                        $('#SoTienGiamGroup').show();
                                    }
                                    else if (selectedValue === 'true') {
                                        $('#PhanTramGiamGroup').show();
                                    }
                                }

                                // Kích hoạt sự kiện change khi trang được tải lại
                                toggleFieldsBasedOnDropdownValue();


                                // Thêm sự kiện change cho dropdown
                                $('#LoaiGiamGiaSelect').change(function () {
                                    toggleFieldsBasedOnDropdownValue();
                                });
                            });
                        </script>






                        <div class="form-group">
                            <label asp-for="SoLuong" class="control-label">Số lượng</label>
                            <input type="text" asp-for="SoLuong" class="form-control" maxlength="9" />
                            <label class="small-text">(Không được nhập quá 9 ký tự)</label>
                            <span asp-validation-for="SoLuong" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DieuKienGiam" class="control-label">Giảm giá từ đơn tối thiểu( VND)</label>
                            <input asp-for="DieuKienGiam" class="form-control" maxlength="9" />
                            <label class="small-text">(Không được nhập quá 9 ký tự)</label>
                            <span asp-validation-for="DieuKienGiam" class="text-danger"></span>
                        </div>

                                @*<div class="form-group form-check">
                        <label class="form-check-label">
                        <input class="form-check-input" asp-for="Is_detele" /> @Html.DisplayNameFor(model => model.Is_detele)
                        </label>
                        </div>*@
                        <div class="form-group">
                            <input type="submit" value="Tạo mã" class="btn btn-primary" />
                        </div>
                </form>
                <script>
                    //function generateRandomCode() {
                    //    var randomCode = "GG" + Math.floor(Math.random() * 1000);
                    //    document.getElementById("MaGiam").value = randomCode;
                    //}
                </script>
                <div class="col-md-3 text-center">

                    <button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("Index")'">Quay lại</button>
                </div>
            </div>


        </div>




    </div>


