@model CTN4_Data.Models.DB_CTN4.Size

@{
    ViewData["Title"] = "Create";
}   

<div class="row">
    <div class="col-md-9">
        <br></br>

        <h1>Create</h1>

        <h4>Size</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label asp-for="TenSize" class="control-label"></label>
                        <input asp-for="TenSize" class="form-control" />
                        <span asp-validation-for="TenSize" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Is_detele" /> @Html.DisplayNameFor(model => model.Is_detele)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                    <div>
                        <h4>_________________________________________________</h4>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

